{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center" style="padding-bottom: 0.625rem;">
        <span><h1>Setores</h1></span>
    </div>
    <div class="row"  style="padding-top: 0.625rem;">
        <div class="col-4">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Adicionar</button>
            </form>
            {% if messages %} {% for message in messages %}
            <div class="alert {{message.tags}} d-flex align-items-center" role="alert">
                {{message}}
            </div>
            {% endfor %} {% endif %}
        </div>
        <div class="col">
            <table class="table table-striped align-middle">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Diretoria</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for setor in setores %}
                    <tr>
                        <td>{{setor.nome}}</td>
                        <td>{{setor.diretoria}}</td>
                        <td style="text-align: center; width: 19rem;">
                            <a class="btn btn-warning btn-sm" data-bs-toggle="modal" href="#exibirSetorModal{{setor.id}}" role="button"><i class="bi bi-eye"></i> Exibir</a>
                            <a href="{% url 'up_setor' setor.id %}" class="btn btn-primary btn-sm"><i class="bi bi-cloud-arrow-up-fill"></i> Atualizar</a>
                            <a href="{% url 'del_setor' setor.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i> Remover</a>

                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="table-warning">
                            Nenhum setor cadastrado.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
{% for setor in setores %}
<div class="modal fade" id="exibirSetorModal{{setor.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{setor.nome}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <tr>
                <td>Endereço:</td>
                <td>{{setor.endereco}}</td>
            </tr>
            <tr>
                <td>Telefone:</td>
                <td>{{setor.telefone}}</td>
            </tr>
            <tr>
                <td>Responsável:</td>
                <td>{{setor.responsavel}}</td>
            </tr>
            <tr>
                <td>Diretoria</td>
                <td>
                    {{setor.diretoria}}
                </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock content %}

