/* ----------------------
#   CUSTOM PAGINATION   #
-----------------------*/

.page-item.active .page-link {
    columns: #fff;
    background-color: #222;
    border: 1px solid #222;
}

.pagination > li > a {
    background-color: #fff;
    color: #222;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > span > a:hover,
.pagination > span > a:focus {
    color: #fff;
    background-color: #222;
    border: 1px solid #eee;
    box-shadow: none;
},

/* ----------------------
#       DATATABLES      #
-----------------------*/

/* Pagination */
.dataTables_paginate {
    margin-top: 1rem !important;
}

.dataTables_filter {
    margin-bottom: 1rem !important;
}