{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row text-gray">
        <span><h1>Processos Licitatórios</h1></span>
    </div>
    <hr>
    <div class="row"  style="padding-top: 0.625rem;">
        <div class="col-4">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Adicionar</button>
            </form>
            {% if messages %} {% for message in messages %}
            <div class="alert {{message.tags}} d-flex align-items-center" role="alert">{{message}}</div>
            {% endfor %} {% endif %}
        </div>
        <div class="col">
            <table class="table table-dark table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for processo in processos %}
                    <tr>
                        <td>{{processo.id}}</td>
                        <td>{{processo.nome}}</td>
                        {% if processo.status == '1' %}
                        <td class="table-success">
                            <i class="bi bi-check-circle-fill"></i>
                            Ativo
                        </td>
                        {% elif processo.status == '2' %}
                        <td class="table-danger">
                            <i class="bi bi-x-circle-fill"></i>
                            Inativo
                        </td>
                        {% endif %}
                        <td>
                            <a href="{% url 'up_processo' processo.id  %}" class="btn btn-primary btn-sm"><i class="bi bi-cloud-arrow-up-fill"></i> Atualizar</a>
                            <a href="{% url 'del_processo' processo.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i> Remover</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="table-warning">
                            Nenhum processo cadastrado
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}