{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row text-gray" style="padding-bottom: 0.625rem;">
        <span><h1>Material de Informática</h1></span>
    </div>
    <div class="row">
        <div class="col-4">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Adicionar</button>
            </form>
            {% if messages %} {% for message in messages %}
            <div class="alert {{message.tags}} d-flex align-items-center" role="alert">{{message}}</div>
            {% endfor %} {% endif %}
        </div>
        <div class="col">
            <table class="table table-striped align-middle">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Descrição</th>
                        <th scope="col">Processo</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for material in materiais %}
                    <tr>
                        <td>{{material.nome}}</td>
                        <td>{{material.proc_licitatorio}}</td>
                        {% if material.status == '1' %}
                        <td class="text-success">
                            <i class="bi bi-check-circle-fill"></i>
                            Ativo
                        </td>
                        {% elif material.status == '2' %}
                        <td class="text-danger">
                            <i class="bi bi-x-circle-fill"></i>
                            Inativo
                        </td>
                        {% endif %}
                        <td class="col-3">
                            <a href="{% url 'up_suprimento' material.id%}" class="btn btn-primary btn-sm"><i class="bi bi-cloud-arrow-up-fill"></i> Atualizar</a>
                            <a href="{% url 'del_suprimento' material.id%}" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i> Remover</a>
                        </td>
                    {% empty %}
                        <td colspan="4" class="table-warning">Nenhum material cadastrado</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}