{% extends 'base.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'laudos/css/laudos.css' %}">
{% endblock head %}
{% block content %}
<div class="container">
    <div class="row" style="padding-bottom: 0.625rem;">
        <div class="col"> 
            <span><h1>Laudos</h1></span>
        </div>
        <div class="col-3 d-flex justify-content-between">
            <div></div>
            <div>
                <a class="btn btn-success" href="{% url 'ins_laudo' %}"><i class="bi bi-plus-square-fill"></i> Fazer um laudo</a>
            </div>
        </div>
    </div>
    <div class="row">
        {% if messages %} {% for message in messages %}
            <div class="alert {{message.tags}} d-flex align-items-center" style="padding-top: 0.625rem;" role="alert">{{message}}</div>
        {% endfor %} {% endif %}
    </div>
    <div class="row">
        <table class="table table-striped bordered" id="tbLaudos">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Setor</th>
                    <th>Funcionário</th>
                    <th>Profissional</th>
                    <th>Status</th>
                    <th>Criado em</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for laudo in laudos %}
                {% if laudo.get_status_display != 'Finalizado' %}
                <tr>
                    <td>{{laudo.id}}</td>
                    <td>{{laudo.setor}}</td>
                    <td>{{laudo.funcionario}}</td>
                    <td>{{laudo.profissional.get_full_name}}</td>
                    <td>{{laudo.get_status_display}}</td>
                    <td>{{laudo.data_criacao}}</td>
                    <td style="text-align: center; width: 19rem;">
                        <a class="btn btn-warning btn-sm" data-bs-toggle="modal" href="#exibirLaudoModal{{laudo.id}}" role="button"><i class="bi bi-eye"></i> Exibir</a>
                        <a href="{% url 'up_laudo' laudo.id %}" class="btn btn-primary btn-sm" role="button"><i class="bi bi-cloud-arrow-up-fill"></i> Atualizar</a>
                        <a href="{% url 'gerar_pdf' laudo.id %}" class="btn btn-danger btn-sm" role="button"><i class="bi bi-file-earmark-pdf-fill"></i> Gerar PDF</a>
                    </td>
                </tr>
                {% elif request.user.is_staff and laudo.get_status_display == 'Finalizado' %}
                    <tr>
                        <td>{{laudo.id}}</td>
                        <td>{{laudo.setor}}</td>
                        <td>{{laudo.funcionario}}</td>
                        <td>{{laudo.profissional.get_full_name}}</td>
                        <td>{{laudo.get_status_display}}</td>
                        <td>{{laudo.data_criacao}}</td>
                        <td style="text-align: center; width: 19rem;">
                            <a class="btn btn-warning btn-sm" data-bs-toggle="modal" href="#exibirLaudoModal{{laudo.id}}" role="button"><i class="bi bi-eye"></i> Exibir</a>
                            <a href="{% url 'up_laudo' laudo.id %}" class="btn btn-primary btn-sm" role="button"><i class="bi bi-cloud-arrow-up-fill"></i> Atualizar</a>
                            <a href="" class="btn btn-danger btn-sm" role="button"><i class="bi bi-file-earmark-pdf-fill"></i> Gerar PDF</a>
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
{% for laudo in laudos %}
<div class="modal modal-lg fade" id="exibirLaudoModal{{laudo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Laudo nº: {{laudo.id}} || Identificação: {{laudo.identificacao}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-bordered">
            <tr>
                <th width="15%">Setor:</th>
                <td>{{laudo.setor}}</td>
            </tr>
            <tr>
                <th width="15%">Funcionário:</th>
                <td>{{laudo.funcionario}}</td>
            </tr>
            <tr>
                <th width="15%">Justificativa:</th>
                <td>{{laudo.justificativa}}</td>
            </tr>
            <tr>
                <th width="15%">Status:</th>
                <td>{{laudo.get_status_display}}</td>
            </tr>
            <tr>
                <th width="15%">Criado em:</th>
                <td>{{laudo.data_criacao}}</td>
            </tr>
            <tr>
                <th width="15%">Profissional:</th>
                <td>{{laudo.profissional.get_full_name}}</td>
            </tr>
            <tr>
                <th width="15%">Equipamentos:</th>
                <td>backend
                    <table class="table table-dark table-striped table-bordered">
                        <tr style="text-align: center;">
                            <th width="15%">
                                Quantidade:
                            </th>
                            <th>
                                Item
                            </th>
                        </tr>
                        {% for material in laudo.materiais.all %}
                        <tr>
                            <td style="text-align: center;">
                                {{material.quantidade}}
                            </td>
                            <td>
                                {{material.item}}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
            <a href="" class="btn btn-danger" role="button"><i class="bi bi-file-earmark-pdf-fill"></i> Gerar PDF</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock content %}
{% block script %}
<script src="{% static 'laudos/js/laudos.js' %}"></script>
{% endblock script %}