{% extends 'base.html' %}{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <span><h3>Atualização do laudo</h3></span>
        </div>
        <div class="col-2 d-flex flex-row-reverse">
            <a href="{% url 'laudos' %}" class="btn btn-primary"><i class="bi bi-arrow-left-square-fill"></i> Voltar</a>
        </div>
    </div>
    <div class="row">
        {% if messages %} {% for message in messages %}
            <div class="alert {{message.tags}} d-flex align-items-center" role="alert">{{message}}</div>
        {% endfor %} {% endif %}
    </div>
    <div class="row">
        <form action="" method="POST" class="row g-3">{% csrf_token %}
            <div class="col-md-6">
                <div class="row p-3">
                    {{form.setor.label}}
                    {{form.setor}}
                </div>
                <div class="row p-3">
                    {{form.funcionario.label}}
                    {{form.funcionario}}
                </div>
                <div class="row p-3">
                    {{form.status.label}}
                    {{form.status}}
                </div>

            </div>
            <div class="col-md-6 p-2">
                {{form.justificativa.label}}
                {{form.justificativa}}
            </div>
            <div class="col-12">
                <h3>Materiais:</h3>
            </div>
            {{form_material.management_form}}

            <div class="row p-2" id="inline_form">
                <table class="table table-striped align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>
                                Quantidade
                            </th>
                            <th>
                                Item a selecionar
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for fm in form_material %}
                        {{fm.id}}
                        {{fm.numero_lado}}
                        <tr>
                            <td width="10%">
                                {{fm.quantidade}}
                            </td>
                            <td width="60%">
                                {{fm.item}}
                                {{fm.item.status}}
                            </td>
                            <td width="15%">
                                <a href="{% url 'delete_item' fm.id.value  %}" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Deletar item</a>
                            </td>
                            <td>

                            </td>
                        </tr>            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success"><i class="bi bi-plus-square-fill"></i> Atualizar Laudo</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'laudos/js/jquery.formset.js' %}"></script>

<script type="text/javascript">
    $(function() {
        $('#inline_form table tbody tr').formset({
            prefix: '{{ form_material.prefix }}',
            addText: '&#10003; Adicionar novo item',
            deleteText: '&#10005; Remover Linha',
            addCssClass: 'btn btn-primary',
            deleteCssClass : 'btn btn-warning',
        });
    })
</script>

{% endblock script %}