{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <span><h3>Equipamentos</h3></span>
    </div>
    <div class="row">
        <form action="" class="row g-3">
            {% csrf_token %}
            <div class="col-md-3">
                {{form.codigo_sharepoint.label}}
                {{form.codigo_sharepoint}}
            </div>
            <div class="col-md-3">
                {{form.patrimonio.label}}
                {{form.patrimonio}}
            </div>
            <div class="col-md-3">
                {{form.status.label}}
                {{form.status}}
            </div>
            <div class="col-md-3">
                {{form.setor.label}}
                {{form.setor}}
            </div>
            <div class="col-md-6">
                {{form.responsavel.label}}
                {{form.responsavel}}
            </div>
            <div class="col-md-3">
                {{form.numero_serie.label}}
                {{form.numero_serie}}
            </div>
            <div class="col-md-3">
                {{form.tipo.label}}
                {{form.tipo}}
            </div>
            <div class="col-md-6">
                {{form.serial_windows.label}}
                {{form.serial_windows}}
            </div>
            <div class="col-md-6">
                {{form.serial_office.label}}
                {{form.serial_office}}
            </div>
            <div class="col-md-3">
                {{form.ip.label}}
                {{form.ip}}
            </div>
            <div class="col-md-3">
                {{form.mac_address.label}}
                {{form.mac_address}}
            </div>
            <div class="col-md-5">
                <label for="">Imagens</label>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success"><i class="bi bi-plus-square-fill"></i> Inserir Equipamento</button>
            </div>
        </form>
        {% if messages %} {% for message in messages %}
        <div class="alert {{message.tags}} d-flex align-items-center" role="alert">{{message}}</div>
        {% endfor %} {% endif %}
    </div>
</div>
{% endblock content %}