{% extends 'base.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'equipamentos/css/equipamentos.css' %}">
{% endblock head %}
{% block content %}
<div class="container">
    <div class="row" style="padding-bottom: 0.625rem;">
        <div class="col"> 
            <span><h1>Equipamentos</h1></span>
        </div>
        <div class="col-3 d-flex justify-content-between">
            <div></div>
            <div>
                <a class="btn btn-success" href="{% url 'add_equipamento' %}"><i class="bi bi-plus-square-fill"></i> Adicionar Equipamento</a>
            </div>
        </div>
    </div>
    <div class="row">
        {% if messages %} {% for message in messages %}
            <div class="alert {{message.tags}} d-flex align-items-center" style="padding-top: 0.625rem;" role="alert">{{message}}</div>
        {% endfor %} {% endif %}
    </div>
    <div class="row" style="padding-top: 0.625rem;">
        <table class="table table-striped align-middle" id="tbEquipamentos">
            <thead class="table-dark">
                <th>Sharepoint</th>
                <th>Patrimonio</th>
                <th>Identificador</th>
                <th>Setor</th>
                <th>Tipo</th>
                <th>Mac Address</th>
                <th>Serial Windows</th>
                <th></th>
            </thead>
            <tbody>
                {% for equipamento in equipamentos %}
                <tr>
                    <td>{{equipamento.codigo_sharepoint}}</td>
                    <td>{{equipamento.patrimonio}}</td>
                    <td>{{equipamento.indentificador}}</td>
                    <td>{{equipamento.setor.nome}}</td>
                    <td>{{equipamento.get_tipo_display}}</td>
                    <td>{{equipamento.mac_address}}</td>
                    <td>{{equipamento.serial_windows}}</td>
                    <td style="text-align: center; width: 18.500rem;">
                        <a href="{% url 'view_equipamento' equipamento.id %}" class="btn btn-warning btn-sm" role="button"><i class="bi bi-eye"></i> Exibir</a>
                        <a href="{% url 'up_equipamento' equipamento.id %}" class="btn btn-primary btn-sm" role="button"><i class="bi bi-cloud-arrow-up-fill"></i> Atualizar</a>
                        <a href="{% url 'del_equipamento' equipamento.id %}" class="btn btn-danger btn-sm" role="button"><i class="bi bi-trash-fill"></i> Remover</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'equipamentos/js/equipamentos.js' %}"></script>
{% endblock script %}