{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <span><h1>Equipamentos</h1></span>
    </div>
    <hr>
    <div class="row" style="padding-top: 0.625rem;">
        <div class="col-4">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Adicionar</button>
            </form>
            {% if messages %} {% for message in messages %}
            <div class="alert {{message.tags}} d-flex align-items-center" role="alert">{{message}}</div>
            {% endfor %} {% endif %}
        </div>
        <div class="col">
            <table class="table table-striped align-middle">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Codigo Sharepoint</th>
                    <th scope="col">Setor</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Patrimonio</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    {% for equipamento in equipamentos %}
                    <td>{{equipamento.indentificador}}</td>
                    <td>{{equipamento.codigo_sharepoint}}</td>
                    <td>{{equipamento.setor}}</td>
                    <td>{{equipamento.tipo}}</td>
                    <td>{{equipamento.patrimonio}}</td>
                    {% if equipamento.status == '1' %}
                        <td class="text-success">
                            <i class="bi bi-check-circle-fill"></i>
                            Ativo
                        </td>
                        {% elif equipamento.status == '2' %}
                        <td class="text-danger">
                            <i class="bi bi-x-circle-fill"></i>
                            Inativo
                        </td>
                        {% endif %}
                    <td class="col-4">
                        <a class="btn btn-warning btn-sm" data-bs-toggle="modal" href="#exibirModal" role="button"><i class="bi bi-eye"></i> Exibir</a>
                        <a href="" class="btn btn-primary btn-sm"><i class="bi bi-cloud-arrow-up-fill"></i> Atualizar</a>
                        <a href="" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i> Remover</a>
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal modal-xl fade" id="exibirModal" tabindex="-1" aria-labelledby="exibirModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}