{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row text-gray" style="padding-bottom: 0.625rem;">
        <span><h1>Diretorias</h1></span>
    </div>
    <div class="row"  style="padding-top: 0.625rem;">
        <div class="col-4">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success"><i class="bi bi-plus-square-fill"></i> Adicionar</button>
            </form>
            {% if messages %} {% for message in messages %}
            <div class="alert {{message.tags}} d-flex align-items-center" role="alert">{{message}}</div>
            {% endfor %} {% endif %}
        </div>
        <div class="col">
            <table class="table table-striped align-middle">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Responsável</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for diretoria in diretorias %}
                    <tr>
                        <td scope="row">{{diretoria.nome}}</td>
                        <td scope="row">{{diretoria.tipo}}</td>
                        <td scope="row">{{diretoria.responsavel}}</td>
                        <td scope="row" style="text-align: center; width: 18.500rem;">
                            <a href="{% url 'up_diretoria' diretoria.id %}" class="btn btn-primary btn-sm"><i class="bi bi-cloud-arrow-up-fill"></i> Atualizar</a>
                            <a href="{% url 'del_diretoria' diretoria.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i> Remover</a>
                        </td>
                        {% empty %}
                        <td colspan="5" class="table-warning">Não há diretorias cadastradas.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}