{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row" style="padding-top: 0.625rem;">
        <h3>Olá, {{request.user.get_full_name}}</h3>
    </div>
    <hr>
    <div class="row">
        {% if messages %} {% for message in messages %}
            <div class="alert {{message.tags}} d-flex align-items-center p-3" style="padding-top: 0.625rem;" role="alert">{{message}}</div>
        {% endfor %} {% endif %}
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card border mb-3 text-center" style="max-width: 18rem;">
                <div class="card-header fs-3" style="background: indigo; color: white;">Laudos Abertos</div>
                <div class="card-body">
                    <div class="col">
                        <h1 class="card-title">{{laudos_abertos}}</h1>
                        <p class="card-text fs-8">Abertos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card border mb-3 text-center" style="max-width: 18rem;">
                <div class="card-header fs-3" style="background: purple; color: white;">Seus laudos</div>
                <div class="card-body">
                    <div class="col">
                        <h1 class="card-title">{{total_laudos_user_abertos}}</h1>
                        <p class="card-text fs-8">Total</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card border mb-3 text-center" style="max-width: 18rem;">
                <div class="card-header fs-3" style="background: teal; color: white;">Equipamentos</div>
                <div class="card-body">
                    <div class="col">
                        <h1 class="card-title">{{total_equipamentos}}</h1>
                        <p class="card-text fs-8">Total</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card border mb-3 text-center" style="max-width: 18rem;">
                <div class="card-header fs-3" style="background: orange; color: white;">Equip Ativos</div>
                <div class="card-body">
                    <div class="col">
                        <h1 class="card-title">{{total_equipamentos_ativos}}</h1>
                        <p class="card-text fs-8">Total</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}